<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="JsonUrl" value="https://git.weifer.org/weifer/Test_App/raw/branch/master/Test_App/Ressources/data.json" />
	</appSettings>
</configuration>